$text-color: white;
$surface-color: #FFFFFF;
$surface-variant-color: #2F2D2F;
$background-color2: #020202;
$primary-color: #FF9505;
$secondary-color: #191719;
$error-color: #C20114;

$main-transition: all .4s ease;
$section-separator-distance: 120px;
