$text-color: white;
$surface-color: #FFFFFF;
$surface-variant-color: #2F2D2F;
$primary-color: #FF9505;
$secondary-color: #191719;
$error-color: #C20114;
$success-color: #1B998B;

$main-transition: all .4s ease;
$sm-section-separator-distance: 40px;
$md-section-separator-distance: 80px;
$lg-section-separator-distance: 120px;
